<header class="header">
    <img src="{{ site.url }}/assets/images/logo.png" class="logo" />
    <nav class="nav">
        <a class="nav__item" href="{{ site.url }}">
            Home
        </a>
        <a class="nav__item" href="{{ sute.url }}/pages/guides">
            Guides
        </a>
        <a class="nav__item" href="{{ site.url }}/pages/plugins">
            Plugins
        </a>
        <a class="nav__item" href="{{ site.url }}/pages/components">
            Components
        </a>
        <a class="nav__item" href="">
            Blog
        </a>
    </nav>
</header>